.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.text-light {
  color: white;
}

/* header start */
.navbar {
  background-color: #872361;
}
.container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.navbar-texts ul {
 list-style: none;
 display: flex;

}
.navbar-texts ul a {
  margin-left: 12px;
  color: #fff;
  text-decoration: none;
}

.navbar-button {
  margin-right: 80px;
}
.navbar-button button {
  margin-left: 10px;
  background-color:darkorange;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
}
/* header end */

/* footer alanı start */
.footer {
  background-color: #872361;
  margin-top: 100px;
}

.footer-logo-part {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.footer-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 160px;
  margin-right: 100px;
}

.footer-text {
  position: relative;
  margin-top: 100px;
  width: 400px;
  font-size: 14px;
  line-height:30px;
}
.footer-texts ul {
  list-style: none;
  display: flex;
  
}
.footer-texts ul li {
  margin-left: 30px;
  font-size: 18px;
}
.footer-contact {
  position: relative;
  margin-left: 250px;
  width: 500px;
}

.footer-contact h5 {
  padding-top: 50px;
  font-size: 18px;
}

.footer-texts {
  position: relative;
  margin-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.copy-right-text {
  display: flex;
  font-size: 18px;
  margin-right: 30px;
}

.copy-right-text h5 {
  margin-right: 5px;
}

/* footer alanı end */

/* NotFound page start */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.not-found h1 {
  font-size: 200px;
  color: rgb(43, 43, 43);
}
.not-found h5 {
  font-size: 18px;
  color: rgb(43, 43, 43);
}