$primary-color: #82c3ec;
$secondary-color: #4b56d2;
$background-color: #472183;
$dark-color: #333;
$light-color: #f4f4f4;
$danger-color: #ff0000;
$link-color:#ff8c00;
$main-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

.text-light {
  color: $light-color;
}

.text-dark {
  color: $dark-color;
}

.text-danger {
  color: $danger-color;
}

.route-link {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: $dark-color;
  padding: 5px;
  border: 1px solid $dark-color;
  background-color: $light-color;
  border-radius: 10%;

  &:hover {
    background: $secondary-color;
    color: $primary-color
  }
}

.link{
  display: inline-block;
  background-color: $link-color;
  text-decoration: none;
  color: $dark-color;
  padding: 10px;
  border: 1px solid $dark-color;
  border-radius: 10%;
}
