@import "../../assets/styles/utilities.scss";
@import "../../App.scss";

.user-details-container,
.user-list-container,
user-update-container {
  background: url("../../img/flower-1.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-color;
  margin: 5%;
  padding: 25px;
  border-radius: 25px;
  width: 90%;
}

.user-list-container {
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    width: 100%;
    background-color: $background-color;
    color: $primary-color;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 20px 20px rgba($color: $secondary-color, $alpha: 0.9);
    border-radius: 25px;
    padding-block: 25px;

    * {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .profile-image {
      padding: 10% 15% 0;

      img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
        border-radius: 50%;
        max-width: 40%;
      }
    }

    .user-card-content {
      padding: 5% 10%;
      display: grid;
      grid-template-rows: 1fr 0.5fr 0.5fr;

      * {
        margin-block: 5px;
      }
    }

    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin: 3px 0;
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      i {
        color: $light-color;
        display: inline-block;
        font-size: 1.5em;
        margin-right: 5px;

        &:hover {
          color: $primary-color;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.user-details-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 15px 3px $primary-color;
  aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: baseline;
    justify-self: center;

    img {
      border: 1px solid $secondary-color;
      border-radius: 25px;
    }
  }

  .details {
    height: 500px;
    padding: 30px;
    display: block;

    .details-title {
      font-size: 2rem;
      border-bottom: 1px solid $secondary-color;
    }

    .details-content {
      margin-top: 20px;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .content-group {
        display: grid;
        grid-template-columns: 0.3fr 0.05fr 1fr;
      }
    }
  }

  .user-roles-container {
    .check-group {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 1.5rem;
      margin-block: 10px;

      input[type="checkbox"] {
        appearance: none;
        background-color: $light-color;
        margin: 0;
        font: inherit;
        color: $primary-color;
        height: 1.5rem;
        width: 1.5rem;
        border: 0.1em solid $dark-color;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &::before {
          content: "";
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em $secondary-color;
          transform-origin: bottom left;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
        }

        &:checked::before {
          transform: scale(1);
        }

        &:focus {
          outline: max(1px, 0.15em) solid currentColor;
          outline-offset: max(1px, 0.15em);
        }

        &:disabled {
          color: $gray-color;
          cursor: not-allowed;
        }
      }
    }
  }
}
